<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>534904114781-695us18fs7nnq94nqahtaf2mn4q8qj96.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.534904114781-695us18fs7nnq94nqahtaf2mn4q8qj96</string>
	<key>API_KEY</key>
	<string>AIzaSyBcq2hWcWyMJbZtKe3sWG2i-xiwRga41PI</string>
	<key>GCM_SENDER_ID</key>
	<string>534904114781</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>auth-zikrap</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-zikrap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:534904114781:ios:b4acf20258d07917b687b4</string>
</dict>
</plist>